@model IEnumerable<Storage.Models.Profile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tehnology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStartWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEndWork)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tehnology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStartWork)
        </td>
        <td>
            @if (item.DateEndWork == null )  {
                @:-
            } else
                {@Html.DisplayFor(modelItem => item.DateEndWork)}
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
