@model PagedList.IPagedList<Storage.Models.Order>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Request";
}
<p>
    @Html.ActionLink("Orders", "Index")
    @Html.ActionLink("Request", "Request")
</p>

<h2>Request</h2>
<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            UserId
        </th>
        <th>
            EquipmentId
        </th>
        <th>
            Notation
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if ((User.IsInRole("Admin")) || (User.Identity.GetUserId() == item.UserId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notation)
                </td>
                @if ((User.IsInRole("Admin")) || (User.Identity.GetUserId() == item.UserId))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    }

</table>

<br />
Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Request", new { page }))